@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-base-brightBlue: #3a7bfd;
    --color-checkmark: linear-gradient(#999999, #919191)
    --color-veryLightGray: #fafafa;
    --color-veryLightGrayishBlue: #e4e5f1;
    --color-lightGrayishBlue: #d2d3db;
    --color-darkGrayishBlue: #9394a5;
    --color-veryDarkGrayishBlue: #484b6a;
    --color-veryDarkBlue: #161722;
    --color-veryDarkDesaturatedBlue: #25273c;
  }
  .dark {
    --color-lightGrayishBlue: #cacde8;
    --color-lightGrayishBlueHover: #e4e5f1;
    --color-darkGrayishBlue: #777a92;
    --color-veryDarkGrayishBlue: #393a4c;
  }
}

@layer components {
  .custom-checkbox{
    @apply w-5 h-5 border-2 border-lightGrayishBlue rounded-full mr-3
  }
}